
*.transform

packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg

*.dll

*.xml

*.txt

*.psd1

*.exe

*.nupkg

*.ps1

*.xdt

*.props

*.psm1

*.rtf

packages/Microsoft.ApplicationInsights.JavaScript.0.15.0-build58334/tools/prefix.html

packages/Microsoft.ApplicationInsights.JavaScript.0.15.0-build58334/content/scripts/ai.0.15.0-build58334.min.js

packages/Microsoft.ApplicationInsights.JavaScript.0.15.0-build58334/content/scripts/ai.0.15.0-build58334.js

*.targets

packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe.config
