<div id="shoppingCartPage" data-role="page" class="page innerPage ui-page ui-body-c ui-page-active page-content-wrapper" tabindex="0">
    <div ng-include="'views/header.html'"></div>
    <div class="padpage padtop">
        <h1><a class="back ui-link" href="/shop"><img src="img/icon-back.png" alt="Back"> Към магазинчето</a></h1>
    </div>
    <div class="shopDetail padpage padtop">
        <h1 class="ui-link">Потребителска кошничка</h1>
        <br />
        <h4> Това са избраните от вас артикули за поръчка. Уверете се, че сте избрали желаното от вас количество, преди да направите поръчката.</h4>
        <div>
            <form name="form" novalidate>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr ng-repeat="(id, item) in shoppingCart">
                                <td><img class="img-responsive" style="max-height:40px" src="{{ imagesFolter + item.item.src }}" /></td>
                                <td>{{ item.item.title }}</td>
                                <td>{{  item.item.description | limitTo : 100 }}</td>
                                <td>{{ (item.item.price - item.item.price * item.item.discount/100) * item.quantity | currency }}</td>
                                <td>
                                    <input type="number" ng-model="item.quantity" ng-change="UpdateCart(shoppingCart, item)"
                                           max="{{ item.item.quantity }}" min="1" class="quantity" />
                                </td>
                                <td class="text-center"><div class='glyphicon glyphicon-remove' ng-click="DeleteCartItem($event, item.item)"></div>  </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="1"></td>
                                <td colspan="4">Обща цена на поръчката:</td>
                                <td class="text-success"><b>{{ total | currency }}</b></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <br />
                <div class="postComment">
                    <p>Детайли към поръчката</p>
                    <ul>
                        <li>
                            <input class="textbox required" type="text" placeholder="*Име" required="" ng-model="customer.name" id="customerName">
                        </li>
                        <li>
                            <input class="textbox required" type="email" placeholder="*Email" required"="" ng-model="customer.email" id="customerEmail">
                        </li>
                        <li>
                            <input class="textbox required" type="tel" placeholder="*Телефон" required="" ng-model="customer.phone" id="customerPhone">
                        </li>
                        <li>
                            <input class="textbox required" type="text" required="" placeholder="*Адрес: град, област, улица, номер" ng-model="customer.address" id="customerAddress">
                        </li>
                        <li>
                            <textarea class="textarea" placeholder="Коментар" ng-model="customer.message" id="customerMessage"></textarea>
                        </li>
                    </ul>

                    <input type="button" class="button buttonStrong right" ng-disabled="form.$invalid || (total == 0)" ng-click="SubmitOrder(customer, shoppingCart)" value="ИЗПРАТИ ПОРЪЧКАТА" name="buttonSubmit">
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
        <div ng-include="'views/footer.html'"></div>
    </div>
