<div id="page-content-wrapper" data-role="page" class="page innerPage ui-page ui-body-c ui-page-active" data-url="servicesDetailPage" tabindex="0">
    <div ng-include="'views/header.html'"></div>
    <div class="padpage padtop">
        <h1>Контакти</h1>
    </div>
    <div class="padpage">
        <div class="cutContainer">
            <span class="cutTop"></span>
            <span class="cutBottom"></span>
            <img class="mapPin right" src="img/image-pin.png" alt="Map Pin">
            <div class="text left">
                Здравейте, приятели! <br />
                Засега сме само с онлайн версия на магазина.
                Всички продукти се изпращат от
                гр. София,<br>
                България<br>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--end cut container-->

        <div class="cutContainer">
            <span class="cutTop"></span>
            <span class="cutBottom"></span>
            <div class="text left">
                <div class="block"> Телефон: <a class="link ui-link" href="tel:+359878840004"> +(359) 878 84 00 04</a></div>
                <div class="block"> Email: <a class="link ui-link" href="mailto:enti.tree.bonsai@gmail.com"> enti.tree.bonsai@gmail.com</a></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--end cut container-->

        <!--<div id="map"></div>-->

        <div class="cutContainer moreUpperMargin">
            
            <h4> Пишете ни със запитване: </h4>
            <form name="form" novalidate>
                <ul>
                    <li>
                        <input class="textbox required" type="text" placeholder="Име" required="" ng-model="contact.name" id="name">
                    </li>
                    <li>
                        <input class="textbox required" type="email" placeholder="Email" required="" ng-model="contact.email" id="email">
                    </li>
                    <li>
                        <input class="textbox" type="tel" placeholder="Телефон" ng-model="contact.phone" id="phone">
                    </li>
                    <li>
                        <textarea class="textarea required" placeholder="Съобщение" required="" ng-model="contact.message" id="message"></textarea>
                    </li>
                </ul>
                <input type="button" class="button buttonStrong right" value="Изпрати допитване" ng-disabled="form.$invalid" ng-click="Submit(contact)">
                <div class="clearfix"></div>
            </form>
        </div>
        <!--end cut container-->

    </div>
    <!--end padpage-->
    <div ng-include="'views/footer.html'"></div>

    <!--<script>
      function initMap() {
          var uluru = { lat: 42.695541, lng: 23.325780 };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFg6vMKXs-XLBzrR5zM1baJNKxGqCYI3A&callback=initMap">
    </script>-->
</div>