<div role="main">

    <div id="servicesDetailPage" data-role="page" class="page innerPage">
        <div class="topGrahic"></div>
        <a href="index.html" class="menuButton">
            <img src="img/menu-button.png" alt="Menu">
        </a>

        <div class="padpage padtop">
            <h1>Contact Us</h1>
        </div>

        <div class="padpage">

            <div class="cutContainer">
                <span class="cutTop"></span>
                <span class="cutBottom"></span>
                <img class="mapPin right" src="img/image-pin.png" alt="Map Pin">
                <div class="text left">
                    51st street, 5th Avenue<br/>
                    New York City,<br/>
                    The US<br/>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--end cut container-->


            <div class="cutContainer">
                <span class="cutTop"></span>
                <span class="cutBottom"></span>

                <div class="text left">
                    <div class="block"> Phone<a class="link" href="tel:+97165555555"> +971 55 123 1231</a></div>
                    <div class="block"> Fax <a class="link" href="tel:+97165555555"> +971 55 121 4321</a></div>
                    <div class="block"> Email <a class="link" href="mailto:mail@example.com"> mail@example.com</a></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--end cut container-->


            <div class="cutContainer noBorder noPadding noMargin">
                <span class="cutTop"></span>
                <span class="cutBottom"></span>
                <div id="mapLocation" class="map" data-location="Sofia, Bulgaria">
                </div>
            </div>
            <a href="#" data-ajax="false" class="toggleMapHeight" data-opened="-" data-closed="+">+</a>
            <!--end cut container-->






            <div class="cutContainer moreUpperMargin">
                <span class="cutTop"></span>
                <span class="cutBottom"></span>

                <div class="ui-widget successMessage">
                    <div class="ui-state-highlight ui-corner-all">
                        <p><span class="ui-icon ui-icon-info" style=""></span>
                            <strong>Success!</strong> Your mail has been sent.</p>
                    </div>
                </div>

                <h4> Write to us </h4>

                <form action="send-email.php" method="POST" data-enhance="false" >
                    <ul>
                        <li>
                            <input class="textbox" type="text" placeholder="Name" required name="contactName" id="contactName">
                        </li>
                        <li>
                            <input class="textbox" type="email" placeholder="Email" required name="contactEmail" id="contactEmail">
                        </li>
                        <li>
                            <input class="textbox" type="tel" placeholder="Phone" name="contactPhone" id="contactPhone">
                        </li>
                        <li>
                            <textarea class="textarea" placeholder="Message" required name="contactMessage" id="contactMessage"></textarea>
                        </li>
                    </ul>

                    <input type="submit" class="button buttonStrong right" value="Send" name="buttonSubmit" value="submit">
                    <div class="clearfix"></div>
                </form>

            </div>
            <!--end cut container-->


        </div>
        <!--end padpage-->

        <div class="padpage padbottom">



            <div class="footer">
                <div class="social right">
                    <a href="http://plus.google.com" target="_blank"> <img src="img/icon-gplus.png" alt="Like us on Google+"></a>
                    <a href="http://twitter.com" target="_blank"> <img src="img/icon-twitter.png" alt="Follow us on Twitter"></a>
                    <a href="http://facebook.com" target="_blank"> <img src="img/icon-facebook.png" alt="Like us on Facebook"></a>
                </div>

                <div class="copyright left">
                    Copyright &copy; by SMV Creations
                </div>

                <div class="clearfix"></div>
            </div>
            <!--end footer-->



        </div>

    </div>
    <!--end menuPage-->

</div>