<div class="ui-mobile-viewport ui-overlay-c">
    <div id="galleryPage" class="page innerPage padpage padtop padbottom ui-page ui-body-c ui-page-active">
        <div class="topGrahic"></div>
        <a href="index" class="menuButton">
            <img src="img/menu-button.png" alt="Menu">
        </a>
        <h1><a href="#">Gallery</a></h1>

        <div class="iscroll" id="galleryScroller" data-ajax="false">
            <div class="scroller">
                <ul class="menu">                  
                    <li>
                        <ul class="section">
                            <li class="square" ng-repeat="img in slides track by $index" ng-if="$index < slides.length / 3" ng-click="showGallery($index)">
                                <a class="box gallery-item">
                                    <img ng-src="{{ img.src }}" alt="slide number {{ $index }}">
                                </a>
                            </li>                           
                        </ul>
                    </li>
                    <li>
                        <ul class="section">
                            <li class="square" ng-repeat="img in slides track by $index" ng-if="$index >= slides.length / 3 && $index < slides.length / 1.5 " ng-click="showGallery($index)">
                                <a class="box gallery-item">
                                    <img ng-src="{{ img.src }}" alt="slide number {{ $index }}">
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="section">
                            <li class="square"  ng-repeat="img in slides track by $index" ng-if="$index >= slides.length / 1.5" ng-click="showGallery($index)">
                                <a class="box gallery-item">
                                    <img ng-src="{{ img.src }}" alt="slide number {{ $index }}">
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
                <!--end menu-->
            </div>

            <div ng-photoswipe slides="slides" open="open" on-close="closeGallery()" options="opts"></div>
            <!--end scroller-->
        </div>
        <!--end gallery scroller-->
    </div>
</div>