<div id="page-content-wrapper" data-role="page" class="page innerPage ui-page ui-body-c ui-page-active" data-url="portfolioPage" tabindex="0">
    <div ng-include="'views/header.html'"></div>
    <div class="padpage padtop">
        <h1><a href="#" class="ui-link">Отглеждане и грижи</a></h1>
        <p>
            Тук ще намерите информация за всичко, свързано с отглеждането и грижите, които трябва да полагате, за вашите бонсаи.
        </p>
    </div>
    <div class="padpage">
        <!-- h2 has to be written like this, for the black area -->
        <h2></h2>
        <span class="h2">
            Секции
        </span>
    </div>

    <div class="growth">
        <ul data-role="listview" class="ui-listview">
            <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c"
                ng-repeat="link in sectionLinks">
                <div class="ui-btn-inner ui-li">
                    <div class="ui-btn-text">
                        <a href="{{ link.url }}" class="ui-link-inherit">
                            <img src="{{ link.imgSrc }}" alt="{{ link.name + " - " + link.description }}" class="ui-li-thumb">
                            <h3 class="ui-li-heading">{{ link.name }}</h3>
                            <p class="ui-li-desc">{{ link.description }}</p>
                        </a>
                    </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                </div>
            </li>
        </ul>
    </div>
    <div ng-include="'views/footer.html'"></div>
    <!--end padpage-->
</div>