<div class="topGrahic"></div>
<nav class="navbar navbar-light bg-faded">
    <!--<a class="menuButton ui-link navbar-toggler" data-toggle="collapse" data-target="#exCollapsingNavbar">
        <img src="img/menu-button.png" alt="Навигация">
    </a>-->

    <a href="#" class="menuButton ui-link navbar-toggler" >
        <img id="menu-toggle" src="img/menu-button.png" alt="Навигация">
    </a>
</nav>



<script type="text/javascript">
    //Toggle menu script
    //var toggleMenu = function (e) {
    //    e.preventDefault();
    //    $("#wrapper").toggleClass("toggled");
    //    $("[data-role=page]").toggleClass("toggled");
    //};

    //$("#menu-toggle").click(toggleMenu);

    //$("#sidebar-wrapper").on("swipeleft", toggleMenu);

    //$('#page-content-wrapper').on("swipeleft", toggleMenu);

    //$('#page-content-wrapper').on("swiperight", toggleMenu);
</script>