<div id="typographyPage" data-role="page" class="page innerPage ui-page ui-body-c ui-page-active page-content-wrapper" data-url="typographyPage" tabindex="0">
    <div ng-include="'views/header.html'"></div>

    <div class="padpage padtop">
        <h1><a href="#" class="ui-link">История на бонсаите</a></h1>
        <br>
        <h4> Different font styles</h4>
        <ul>
            <li> <div style="font-weight: 200; font-size: 14px;"> This is a light font </div> </li>
            <li> <div style="font-weight: 400; font-size: 14px;"> This is a heavy font </div> </li>
            <li> <div style="font-weight: 600; font-size: 14px;"> This is a very heavy font </div> </li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="padpage">
        <h4> Different Heading styles</h4>
        <h1> H1 Heading </h1>
        <h2> </h2>
        <span class="h2"> H2 Heading </span>
        <h3> H3 Heading </h3>
        <h4> h4 Heading </h4>

        <br>
        <br>
        <h4> Column layouts</h4>
        <br>
        <h3> 1 Column layout</h3>
        <br>
        <div class="columnContainer column-1">
            <p class="column">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            </p>
            <div class="clearfix"></div>
        </div>
        <br>

        <h3> 2 Column layout</h3>
        <br>
        <div class="columnContainer column-2">
            <p class="column">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            </p>
            <p class="column">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            </p>
            <div class="clearfix"></div>
        </div>
        <br>
        <h3> 3 Column layout</h3>
        <br>
        <div class="columnContainer column-3">
            <p class="column">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            </p>
            <p class="column">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            </p>
            <p class="column">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            </p>
            <div class="clearfix"></div>
        </div>
        <br>

    </div>
    <!--end pad page-->
    <br><br>


    <br>
    <br>
    <div class="padpage">
        <h4> Full scale image </h4>
    </div>
    <div class="flexslider">
        <img src="img/sample-images/image2.jpg" alt="Image2">
    </div>
    <div class="padpage">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
        </p>
    </div>
    <br>
    <br>

    <div class="padpage">
        <h4> Contained image </h4>
        <div class="flexslider">
            <img src="img/sample-images/image2.jpg" alt="Image2">
        </div>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
        </p>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="padpage">
        <h4> Image Sliders</h4>
        <br>
        <br>
        <h3> Slider + Gallery</h3>
        <p>
            The best thing about the slider is that it is not only a slider.<br>
            It is also a <strong> Gallery </strong>
            <br>
            <br>
            C'mon. Try Clicking the Image.
            <br>
            You can slide through the images, and also open them in full screen!
        </p>
        <br>
        <br>
        <div class="flexslider slidered" data-ajax="false">
            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                <ul id="slides" class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-964px, 0px, 0px);">
                    <li class="clone" style="width: 964px; float: left; display: block;">
                        <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-4.jpg"> <img src="img/sample-images/about-4.jpg" alt="Image1"></a>
                    </li>
                    <li class="flex-active-slide" style="width: 964px; float: left; display: block;">
                        <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-3.jpg"> <img src="img/sample-images/about-3.jpg" alt="Image1"></a>
                    </li>
                    <li class="" style="width: 964px; float: left; display: block;">
                        <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-4.jpg"> <img src="img/sample-images/about-4.jpg" alt="Image1"></a>
                    </li>
                    <li class="clone" style="width: 964px; float: left; display: block;">
                        <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-3.jpg"> <img src="img/sample-images/about-3.jpg" alt="Image1"></a>
                    </li>
                </ul>
            </div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
        </div>
        <!--end flexslider-->
    </div>
    <!--end pad page-->

    <br>
    <br>

    <div class="padpage">
        <h4> Full scale Image Slider</h4>
    </div>
    <div class="flexslider slidered" data-ajax="false">
        <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <ul id="slides" class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-1016px, 0px, 0px);">
                <li class="clone" style="width: 1016px; float: left; display: block;">
                    <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-4.jpg"> <img src="img/sample-images/about-4.jpg" alt="Image1"></a>
                </li>
                <li class="flex-active-slide" style="width: 1016px; float: left; display: block;">
                    <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-3.jpg"> <img src="img/sample-images/about-3.jpg" alt="Image1"></a>
                </li>
                <li class="" style="width: 1016px; float: left; display: block;">
                    <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-4.jpg"> <img src="img/sample-images/about-4.jpg" alt="Image1"></a>
                </li>
                <li class="clone" style="width: 1016px; float: left; display: block;">
                    <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-3.jpg"> <img src="img/sample-images/about-3.jpg" alt="Image1"></a>
                </li>
            </ul>
        </div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
    </div>
    <div class="padpage">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
        </p>
    </div>
    <br>
    <br>

    <div class="padpage">
        <h4> Contained Image Slider</h4>
        <div class="flexslider slidered" data-ajax="false">
            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                <ul id="slides" class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-964px, 0px, 0px);">
                    <li class="clone" style="width: 964px; float: left; display: block;">
                        <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-4.jpg"> <img src="img/sample-images/about-4.jpg" alt="Image1"></a>
                    </li>
                    <li class="flex-active-slide" style="width: 964px; float: left; display: block;">
                        <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-3.jpg"> <img src="img/sample-images/about-3.jpg" alt="Image1"></a>
                    </li>
                    <li class="" style="width: 964px; float: left; display: block;">
                        <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-4.jpg"> <img src="img/sample-images/about-4.jpg" alt="Image1"></a>
                    </li>
                    <li class="clone" style="width: 964px; float: left; display: block;">
                        <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-3.jpg"> <img src="img/sample-images/about-3.jpg" alt="Image1"></a>
                    </li>
                </ul>
            </div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
        </div>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
        </p>


        <br>
        <br>
        <br>
        <h4> Contained Tiny Image Slider</h4>
        <div class="padpage">
            <div class="flexslider slidered" data-ajax="false">
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul id="slides" class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-917px, 0px, 0px);">
                        <li class="clone" style="width: 917px; float: left; display: block;">
                            <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-4.jpg"> <img src="img/sample-images/about-4.jpg" alt="Image1"></a>
                        </li>
                        <li class="flex-active-slide" style="width: 917px; float: left; display: block;">
                            <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-3.jpg"> <img src="img/sample-images/about-3.jpg" alt="Image1"></a>
                        </li>
                        <li class="" style="width: 917px; float: left; display: block;">
                            <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-4.jpg"> <img src="img/sample-images/about-4.jpg" alt="Image1"></a>
                        </li>
                        <li class="clone" style="width: 917px; float: left; display: block;">
                            <a class="gallery-item ui-link photoswiped" href="img/sample-images/about-3.jpg"> <img src="img/sample-images/about-3.jpg" alt="Image1"></a>
                        </li>
                    </ul>
                </div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
            </div>
            <!--end flexslider-->
        </div>
        <!--end inner pad page-->
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
        </p>
    </div>
    <!--end pad page-->
    <br>
    <br>
    <br>

    <!--VIDEOS -->
    <div class="padpage">
        <h4> Videos </h4>
        <div class="videosGrid">
            <ul>
                <li>
                    <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/33091687?byline=0&amp;portrait=0&amp;color=c9ff23" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/33091687?byline=0&amp;portrait=0&amp;color=c9ff23" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <br>
    <br>



    <!--VIDEOS -->
    <div class="padpage">
        <h4> Large Listings </h4>
    </div>
    <div class="projects">
        <ul data-role="listview" class="ui-listview">
            <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
                <div class="ui-btn-inner ui-li">
                    <div class="ui-btn-text">
                        <a href="#" class="ui-link-inherit">
                            <img src="img/gallery/10.jpg" alt="image 2" class="ui-li-thumb">
                            <h3 class="ui-li-heading">Project Name goes here</h3>
                            <p class="ui-li-desc">Client Name</p>
                        </a>
                    </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                </div>
            </li>
            <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
                <div class="ui-btn-inner ui-li">
                    <div class="ui-btn-text">
                        <a href="#" class="ui-link-inherit">
                            <img src="img/gallery/1.jpg" alt="image 1" class="ui-li-thumb">
                            <h3 class="ui-li-heading">Large Hadron Collider</h3>
                            <p class="ui-li-desc">Geneva</p>
                        </a>
                    </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                </div>
            </li>
        </ul>
    </div>
    <br>
    <div class="padpage">
        <h4> Small Listings </h4>
    </div>
    <div class="clients">
        <ul data-role="listview" class="ui-listview">
            <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-icon">
                <div class="ui-btn-inner ui-li">
                    <div class="ui-btn-text">
                        <a href="#" class="ui-link-inherit">
                            <img class="ui-li-icon ui-li-thumb" src="img/sample-images/icon1.png" alt="image 2">
                            Adidas
                        </a>
                    </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                </div>
            </li>
            <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-icon">
                <div class="ui-btn-inner ui-li">
                    <div class="ui-btn-text">
                        <a href="#" class="ui-link-inherit">
                            <img class="ui-li-icon ui-li-thumb" src="img/sample-images/icon2.png" alt="image 1">
                            Microsoft
                        </a>
                    </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                </div>
            </li>
        </ul>
    </div>

    <div ng-include="'views/footer.html'"></div>
    <!--end padpage-->

</div>