<div id="menuPage" data-cache="never" class="page iscroll ui-page ui-page-theme-a ui-page-active" data-url="menuPage" tabindex="0">
    <div class="windowsBG"></div>
    <div class="scroller">
        <div class="company on">
            <img src="img/sample-images/bonsai1logo.jpg" alt="company" style="display: inline;">
        </div>

        <ul class="menu on">
            <li>
                <ul class="section">
                    <li class="square">
                        <a class="box ui-link" href="history">
                            <img src="img/homeicons/blog.png" alt="Какво е бонсай? История на бонсаите" class="on">
                            <span class="text"> История</span>
                        </a>
                    </li>


                    <li class="square">
                        <a class="box ui-link" href="videos">
                            <img src="img/homeicons/film.png" alt="Видеа за бонсаите, отглеждане, оформяне, пресаждане..." class="on">
                            <span class="text"> Видеоклипове</span>
                        </a>
                    </li>

                    <li class="square">
                        <a class="box ui-link" href="links">
                            <img src="img/homeicons/services.png" alt="Връзки към други сайтове и събития" class="on">
                            <span class="text"> Връзки </span>
                        </a>
                    </li>
                </ul>                   
            </li>

            <li>
                <ul class="section">
                    <li class="square">
                        <a class="box ui-link" href="gallery">
                            <img src="img/homeicons/gallery.png" alt="Галерия със снимки" class="on">
                            <span class="text"> Галерия </span>
                        </a>
                    </li>

                    <li class="square">
                        <a class="box ui-link" href="shop">
                            <img src="img/homeicons/shop.png" alt="Магазинче за растения, почви, саксии и инструменти" class="on">
                            <span class="text"> Магазинче</span>
                        </a>
                    </li>

                    <li class="square">
                        <a class="box ui-link" href="about">
                            <img src="img/homeicons/info.png" alt="За нас" class="on">
                            <span class="text"> За нас</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li>
                <ul class="section">
                    <li class="square">
                        <a class="box ui-link" href="growth">
                            <img src="img/homeicons/tree.png" alt="Отглеждане и грижи за бонсаите" class="on">
                            <span class="text"> Отглеждане</span>
                        </a>
                    </li>

                    <li class="square">
                        <a class="box ui-link" href="cart">
                            <img src="img/homeicons/shoping_cart.png" alt="Моята кошница" class="on">
                            <span class="text"> Кошничка</span>
                        </a>
                    </li>


                    <li class="square">
                        <a class="box ui-link" href="contact">
                            <img src="img/homeicons/message_outline.png" alt="Контакти" class="on">
                            <span class="text"> Контакти</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
        <!--end menu-->

    </div>
    <!--end scroller-->
    <style>
        @media only screen and (min-width: 1281px) {
            body, .page, .ui-overlay-c, .ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {
                width: 100vw;
                margin-left: calc(-50vw + 50%);
                left:0px;
            }
        }
    </style>
</div>