<div id="menuPage" data-role="page" data-cache="never" class="page iscroll ui-page ui-page-theme-a ui-page-active" data-url="menuPage" tabindex="0">
    <div class="windowsBG"></div>
    <div class="scroller">
        <div class="company on">
            <img src="img/sample-images/bonsai1.jpg" alt="company" style="display: inline;">
        </div>

        <ul class="menu on">
            <li>
                <ul class="section" >
                    <li class="square">
                        <a class="box ui-link" href="/videos" data-transition="fade" data-direction="reverse">
                            <img src="img/homeicons/film.png" alt="videos" class="on">
                            <span class="text"> Видеоклипове</span>
                        </a>
                    </li>

                    <li class="square">
                        <a class="box ui-link" href="/services" data-transition="fade" data-direction="reverse">
                            <img src="img/homeicons/services.png" alt="Services" class="on">
                            <span class="text"> Услуги</span>
                        </a>
                    </li>

                    <li class="square">
                        <a class="box ui-link" href="/blog" data-transition="fade" data-direction="reverse">
                            <img src="img/homeicons/blog.png" alt="Blog" class="on">
                            <span class="text"> Блог</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <ul class="section">
                    <li class="square">
                        <a class="box ui-link" href="gallery.html" data-transition="fade" data-direction="reverse">
                            <img src="img/homeicons/gallery.png" alt="Gallery" class="on">
                            <span class="text"> Галерия </span>
                        </a>
                    </li>

                    <li class="square">
                        <a class="box ui-link" href="portfolio.html" data-transition="fade" data-direction="reverse">
                            <img src="img/homeicons/shop.png" alt="Portfolio" class="on">
                            <span class="text"> Магазинче</span>
                        </a>
                    </li>

                    <li class="square">
                        <a class="box ui-link" href="about.html" data-transition="fade" data-direction="reverse">
                            <img src="img/homeicons/info.png" alt="About Us" class="on">
                            <span class="text"> За нас</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li>
                <ul class="section">
                    <li class="square">
                        <a class="box ui-link" href="typography.html" data-transition="fade" data-direction="reverse">
                            <img src="img/homeicons/tree.png" alt="Typography" class="on">
                            <span class="text"> Отглеждане</span>
                        </a>
                    </li>

                    <li class="square">
                        <a class="box ui-link" href="careers.html" data-transition="fade" data-direction="reverse">
                            <img src="img/homeicons/shoping_cart.png" alt="Careers" class="on">
                            <span class="text"> Кошничка</span>
                        </a>
                    </li>


                    <li class="square">
                        <a class="box ui-link" href="contact.html" data-transition="fade" data-direction="reverse">
                            <img src="img/homeicons/message_outline.png" alt="contact" class="on">
                            <span class="text"> Контакти</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
        <!--end menu-->

    </div>
    <!--end scroller-->

</div>