<div id="blogPage" class="page innerPage padpage padtop padbottom ui-page ui-body-c ui-page-active" tabindex="0" style="min-height: 352.875px;">
    <div ng-include="'views/header.html'"></div>

    <h1><a href="#" class="ui-link">Категории продукти</a></h1>

    <div class="blog">

        <div class="blogPost" ng-repeat="category in shopCategories">
            <div class="head">
                <a class="left image icon ui-link" href="blog-detail.html">
                    <img src="{{ category.imgSrc }}" alt="{{ category.name }}">
                </a>
                <div class="left title">
                    <h3> <a href="{{ category.src }}" class="ui-link"> {{ category.name }}</a> </h3>
                    <!--<div class="left date">21 Aug 2012 </div>-->
                    <div class="comments right"><img src="img/icon-comment.png" alt="Брой стоки в тази секция"><a href="#" class="count ui-link">{{ category.count }}</a></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="description">
                {{ category.description }}
            </div>

            <!--<div class="foot">
                <a href="#" class="left category ui-link">News</a>
                <a href="#" class="right author ui-link">- Matt Hardy</a>
                <div class="clearfix"></div>
            </div>-->
            <div class="clearfix"></div>
        </div>
        <!--end category-->

        <!--<div class="pagination">
            <span class="left page-description"> Page 1 of 9 </span>
            <ul class="right">
                <li> <a class="active ui-link" href="#"> 1 </a> </li>
                <li> <a href="#" class="ui-link"> 2 </a> </li>
                <li> <a href="#" class="ui-link"> 3 </a> </li>
                <li> <a href="#" class="ui-link"> 4 </a> </li>
                <li> <a class="next ui-link" href="#"> <img src="img/blog-next.png" alt="Next"></a> </li>
            </ul>
            <div class="clearfix"></div>
        </div>-->



    </div>


    <div ng-include="'views/footer.html'"></div>
    <!--end footer-->
</div>