<div id="blogPage" class="page innerPage padpage padtop padbottom ui-page ui-body-c ui-page-active" tabindex="0" style="min-height: 352.875px;">
    <div ng-include="'views/header.html'"></div>

    <h1><a href="#" class="ui-link">Категории продукти</a></h1>

    <div class="blog">

        <div class="blogPost">
            <div class="head">
                <a class="left image icon ui-link" href="blog-detail.html">
                    <img src="img/sample-images/blog-1.png" alt="Blog image">
                </a>
                <div class="left title">
                    <h3> <a href="blog-detail.html" class="ui-link"> Blog Post title goes here </a> </h3>
                    <div class="left date">21 Aug 2012 </div>
                    <div class="comments right"><img src="img/icon-comment.png" alt="Comments"><a href="#" class="count ui-link">8</a></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type. Lorem Ipsum is simply dummy text Lorem text.
            </div>

            <div class="foot">
                <a href="#" class="left category ui-link">News</a>
                <a href="#" class="right author ui-link">- Matt Hardy</a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--end blog post-->


        <div class="blogPost">
            <div class="head">
                <a class="left image ui-link" href="blog-detail.html">
                    <img src="img/sample-images/blog-4.jpg" alt="Blog image">
                </a>
                <div class="left title">
                    <h3> <a href="blog-detail.html" class="ui-link"> Most awesome clean retina design!</a> </h3>
                    <div class="date left">18 Jul 2012 </div>
                    <div class="comments right"><img src="img/icon-comment.png" alt="Comments"><a href="#" class="count ui-link">2</a></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </div>

            <div class="foot">
                <a href="#" class="left category ui-link">Press Release</a>
                <a href="#" class="right author ui-link">- Mark Peterson</a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--end blog post-->



        <div class="blogPost">
            <div class="head">
                <a class="left image ui-link" href="blog-detail.html">
                    <img src="img/sample-images/blog-5.jpg" alt="Blog image">
                </a>
                <div class="left title">
                    <h3> <a href="blog-detail.html" class="ui-link"> Most awesome clean retina design!</a> </h3>
                    <div class="date left">18 Jul 2012 </div>
                    <div class="comments right"><img src="img/icon-comment.png" alt="Comments"><a href="#" class="count ui-link">25</a></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="description">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>

            <div class="foot">
                <a href="#" class="left category ui-link">Press Release</a>
                <a href="#" class="right author ui-link">- Mark Peterson</a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--end blog post-->


        <div class="blogPost">
            <div class="head">
                <a class="left image icon ui-link" href="blog-detail.html">
                    <img src="img/sample-images/product1-image.png" alt="Blog image">
                </a>
                <div class="left title">
                    <h3> <a href="blog-detail.html" class="ui-link"> Blog Post title goes here </a> </h3>
                    <div class="date left">30 Aug 2012 </div>
                    <div class="comments right"><img src="img/icon-comment.png" alt="Comments"><a href="#" class="count ui-link">10</a></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type. Lorem Ipsum is simply dummy text Lorem text.
            </div>

            <div class="foot">
                <a href="#" class="left category ui-link">News</a>
                <a href="#" class="right author ui-link">- Matt Hardy</a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--end blog post-->



        <div class="blogPost">
            <div class="head">
                <a class="left image ui-link" href="blog-detail.html">
                    <img src="img/sample-images/blog-2.png" alt="Blog image" data-pin-nopin="true">
                </a>
                <div class="left title">
                    <h3> <a href="blog-detail.html" class="ui-link"> Blog Post title goes here </a> </h3>
                    <div class="date left">21 Aug 2012 </div>
                    <div class="comments right"><img src="img/icon-comment.png" alt="Comments"><a href="#" class="count ui-link">3</a></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type. Lorem Ipsum is simply dummy text Lorem text.
            </div>

            <div class="foot">
                <a href="#" class="left category ui-link">News</a>
                <a href="#" class="right author ui-link">- Matt Hardy</a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--end blog post-->



        <!--<div class="pagination">
            <span class="left page-description"> Page 1 of 9 </span>
            <ul class="right">
                <li> <a class="active ui-link" href="#"> 1 </a> </li>
                <li> <a href="#" class="ui-link"> 2 </a> </li>
                <li> <a href="#" class="ui-link"> 3 </a> </li>
                <li> <a href="#" class="ui-link"> 4 </a> </li>
                <li> <a class="next ui-link" href="#"> <img src="img/blog-next.png" alt="Next"></a> </li>
            </ul>
            <div class="clearfix"></div>
        </div>-->



    </div>


    <div ng-include="'views/footer.html'"></div>
    <!--end footer-->
</div>