<div  class="ui-mobile-viewport ui-overlay-c">

    <div id="page-content-wrapper" class="page innerPage ui-page ui-body-c ui-page-active">
        <!--class="page innerPage padpage padtop padbottom ui-page ui-body-c ui-page-active"-->
        <div ng-include="'views/header.html'"></div>
        <div class="padpage padtop">
            <h1><a href="#" class="ui-link">Videos</a></h1>
            <h4>
                Multimedia Reel
            </h4>
            <p>
                We have a reel running. 24x7.
            </p>
            <p>
                Keep watching this space for more videos!
            </p>
        </div>
        <br><br>
        <div class="padpage">
            <h2> </h2>
            <span class="h2">
                Videos can be in a Slider
            </span>
        </div>

        <!--<div class="padpage">-->
        <div class="videosSlide flexslider slidered" data-ajax="false">
            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                <ul id="slides" class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-1016px, 0px, 0px);">
                    <li class="clone" style="width: 1016px; float: left; display: block;">
                        <iframe src="http://player.vimeo.com/video/33091687?byline=0&amp;portrait=0&amp;color=c9ff23" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </li>
                    <li class="flex-active-slide" style="width: 1016px; float: left; display: block;">
                        <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </li>
                    <li style="width: 1016px; float: left; display: block;" class="">
                        <iframe src="http://player.vimeo.com/video/33091687?byline=0&amp;portrait=0&amp;color=c9ff23" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </li>
                    <li class="clone" style="width: 1016px; float: left; display: block;">
                        <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </li>
                </ul>
            </div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
        </div>
        <!--</div>-->


        <br><br>
        <div class="padpage">
            <h2> </h2>
            <span class="h2">
                Videos can be in a grid
            </span>
        </div>

        <!--<div class="padpage">-->
        <div class="videosGrid">
            <ul>
                <li>
                    <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/33091687?byline=0&amp;portrait=0&amp;color=c9ff23" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/33091687?byline=0&amp;portrait=0&amp;color=c9ff23" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/33091687?byline=0&amp;portrait=0&amp;color=c9ff23" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!--</div>-->


        <br><br>
        <div class="padpage">
            <h2> </h2>
            <span class="h2">
                Of course! Videos in a list, too!
            </span>
        </div>

        <!--<div class="padpage">-->
        <div class="videosList">
            <ul>
                <li>
                    <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/33091687?byline=0&amp;portrait=0&amp;color=c9ff23" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!--</div>-->

        <div ng-include="'views/footer.html'"></div>
        <!--end padbottom-->

    </div>
    <!--end careers page-->

    <div class="ui-loader ui-corner-all ui-body-a ui-loader-default"><span class="ui-icon ui-icon-loading"></span><h1>loading</h1></div>
</div>