<div role="main">

    <div id="videosPage" data-role="page" class="page innerPage">
        <div class="topGrahic"></div>
        <a href="index.html" class="menuButton">
            <img src="img/menu-button.png" alt="Menu">
        </a>

        <div class="padpage padtop">
            <h1><a href="#">Videos</a></h1>

            <h4>
                Multimedia Reel
            </h4>

            <p>
                We have a reel running. 24x7.
            </p>
            <p>
                Keep watching this space for more videos!
            </p>
        </div>

        <br/><br/>
        <div class="padpage">
            <h2> </h2>
        <span class="h2">
          Videos can be in a Slider
        </span>
        </div>


        <!--<div class="padpage">-->
        <div class="videosSlide flexslider" data-ajax="false">
            <ul id="slides" class="slides">
                <li>
                    <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/33091687?byline=0&amp;portrait=0&amp;color=c9ff23" height="190" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </li>
            </ul>
        </div>
        <!--</div>-->

        <br/><br/>
        <div class="padpage">
            <h2> </h2>
        <span class="h2">
          Videos can be in a grid
        </span>
        </div>


        <!--<div class="padpage">-->
        <div class="videosGrid">
            <ul>
                <li>
                    <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/33091687?byline=0&amp;portrait=0&amp;color=c9ff23" height="190" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/33091687?byline=0&amp;portrait=0&amp;color=c9ff23" height="190" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/33091687?byline=0&amp;portrait=0&amp;color=c9ff23" height="190" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!--</div>-->





        <br/><br/>
        <div class="padpage">
            <h2> </h2>
        <span class="h2">
          Of course! Videos in a list, too!
        </span>
        </div>


        <!--<div class="padpage">-->
        <div class="videosList">
            <ul>
                <li>
                    <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/33091687?byline=0&amp;portrait=0&amp;color=c9ff23" height="190" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </li>
                <li>
                    <iframe src="http://player.vimeo.com/video/49155684?byline=0&amp;portrait=0&amp;color=ff9933" height="190" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!--</div>-->

        <div class="padpage padbottom">
            <div class="footer">
                <div class="social right">
                    <a href="http://plus.google.com" target="_blank"> <img src="img/icon-gplus.png" alt="Like us on Google+"></a>
                    <a href="http://twitter.com" target="_blank"> <img src="img/icon-twitter.png" alt="Follow us on Twitter"></a>
                    <a href="http://facebook.com" target="_blank"> <img src="img/icon-facebook.png" alt="Like us on Facebook"></a>
                </div>

                <div class="copyright left">
                    Copyright &copy; by SMV Creations
                </div>

                <div class="clearfix"></div>
            </div>
            <!--end footer-->

        </div>
        <!--end padbottom-->

    </div>
    <!--end careers page-->

</div>