<div id="page-content-wrapper" data-role="page" class="page innerPage ui-page ui-body-c ui-page-active" data-url="portfolioPage" tabindex="0" style="min-height: 356px;">
    <div ng-include="'views/header.html'"></div>
    <div class="padpage padtop">
        <h1><a class="back ui-link" href="growth"><img src="img/icon-back.png" alt="Back"> Отглеждане и грижи</a></h1>
    </div>
    <div class="padpage padtop">
        <h1><a href="#" class="ui-link">Подстригване</a></h1>
        <p>
            Видове бонсаи, оформление и стилове.
        </p>
    </div>

    <div ng-include="'views/footer.html'"></div>
    <!--end padpage-->
</div>