<div id="portfolioPage" data-role="page" class="page innerPage ui-page ui-body-c ui-page-active" data-url="portfolioPage" tabindex="0">
    <div ng-include="'views/header.html'"></div>
    <div class="padpage padtop">
        <h1><a class="back ui-link" href="admin"><img src="img/icon-back.png" alt="Back"> Обратно към админския панел</a></h1>
    </div>

    <div class="shop padpage padtop">
        <h1 class="ui-link">Контакти на потребители през формата за контакти</h1>
        <br />
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Име</th>
                        <th>Email</th>
                        <th>Телефон</th>
                        <th>Съобщение</th>
                        <th>Дата на изпращане</th>
                        <th>Дата на обработка</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in contacts" ng-click="ShowContactDetails(contact)"
                        ng-class="contact.isCompleted ? 'success' : (CompareDates(contact.date) >= 5 ? 'danger' : (CompareDates(order.date) >= 3 ? 'warning' : ''))">
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>{{ contact.message  | limitTo: 20 }}</td>
                        <td>{{ contact.date | date : 'short' }}</td>
                        <td>{{ contact.dateCompleted | date : 'short' }}</td>
                        <td><div ng-class="contact.isCompleted ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-minus'"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-include="'views/footer.html'"></div>
        <a href="https://icons8.com" style="display:none">Icon pack by Icons8</a>
        <!--end padpage-->
    </div>
    <div ng-include="'views/panel/login.html'"></div>
