<div id="portfolioPage" data-role="page" class="page innerPage ui-page ui-body-c ui-page-active" data-url="portfolioPage" tabindex="0" style="min-height: 356px;">
    <div ng-include="'views/header.html'"></div>

    <div class="padpage padtop">
        This is the admin section.
    </div>
    <br />

    <div class="padpage">
        <a href="/admin/items">Артикули</a> 
        <span class="label label-pill label-success">{{ notifications.activeItems }}</span>
        <span class="label label-pill label-default">{{ notifications.allItems }}</span> - управление на артикулите на сайта<br />
        <a href="/admin/orders">Поръчки</a> 
        <span class="label label-pill label-danger">{{ notifications.openOrders }}</span>
        <span class="label label-pill label-default">{{ notifications.allOrders }}</span> - всички поръчки в сайта и информация за тях<br />
        <a href="/admin/customers">Клиенти</a> 
        <span class="label label-pill label-default">{{ notifications.customersCount }}</span> - потребителите, които са правили поръчки на сайта<br />
        <a href="/admin/contacts">Контакти</a> 
        <span class="label label-pill label-danger">{{ notifications.openContacts }}</span>
        <span class="label label-pill label-default">{{ notifications.allContacts }}</span> - всички потребители, които са изпратили запитване през формата за контакти
    </div>

    <div ng-include="'views/footer.html'"></div>    
    <a href="https://icons8.com" style="display:none">Icon pack by Icons8</a>
    <!--end padpage-->
</div>
<div ng-include="'views/panel/login.html'"></div>