<div id="portfolioPage" data-role="page" class="page innerPage ui-page ui-body-c ui-page-active" data-url="portfolioPage" tabindex="0" style="min-height: 356px;">
    <div ng-include="'views/header.html'"></div>

    <div class="padpage padtop">
        This is the admin section.
        Please login!!!
    </div>

    <div class="padpage">
        <a href="/admin/items">Артикули</a><br />
        <a href="/admin/orders">Поръчки</a>
    </div>

    <div ng-include="'views/footer.html'"></div>    
    <a href="https://icons8.com" style="display:none">Icon pack by Icons8</a>
    <!--end padpage-->
</div>
<div ng-include="'views/panel/login.html'"></div>