<div id="portfolioPage" data-role="page" class="page innerPage ui-page ui-body-c ui-page-active" data-url="portfolioPage" tabindex="0" style="min-height: 356px;">
    <div ng-include="'views/header.html'"></div>
    <div class="padpage padtop">
        <h1><a class="back ui-link" href="admin/items"><img src="img/icon-back.png" alt="Back"> Обратно към артикулите</a></h1>
    </div>

    <div class="shopDetail padpage padtop">
        <h1 class="ui-link">Добавяне на нов артикул към категория "{{ category }}"</h1>
        <br />
        
        <div class="postComment">
            <form name="form" novalidate>
                <p>Детайли за артикула</p>
                <ul>
                    <li>
                        <input class="textbox required" type="text" placeholder="*Заглавие" required="" ng-model="newItem.title" id="title">
                    </li>
                    <li>
                        <textarea class="textarea required" type="te" placeholder="*Описание" required"="" ng-model="newItem.description" id="description"> </textarea>
                    </li>
                    <li>
                        <input class="textbox required" type="text" placeholder="*Цена лв" required="" ng-model="newItem.price" id="price">
                    </li>
                    <li>
                        <input class="textbox required" type="text" required="" placeholder="*Намаление %" ng-model="newItem.discount" id="discount">
                    </li>
                    <li>
                        <input class="textbox required" type="text" required="" placeholder="*Налично количество" ng-model="newItem.quantity" id="quantity">
                    </li>
                    <li>
                        <input class="textbox required" type="text" required="" placeholder="*Изображение URL" ng-model="newItem.src" id="src">
                    </li>
                </ul>

                <input type="button" class="button buttonStrong right" ng-disabled="form.$invalid" ng-click="Submit(newItem)" value="ДОБАВИ АРТИКУЛ" name="buttonSubmit">
                <div class="clearfix"></div>
            </form>
        </div>

    </div>

    <div ng-include="'views/footer.html'"></div>
    <a href="https://icons8.com" style="display:none">Icon pack by Icons8</a>
    <!--end padpage-->
</div>
<div ng-include="'views/panel/login.html'"></div>