<div id="portfolioPage" data-role="page" class="page innerPage ui-page ui-body-c ui-page-active" data-url="portfolioPage" tabindex="0" style="min-height: 356px;">
    <div ng-include="'views/header.html'"></div>
    <div class="padpage padtop">
        <h1><a class="back ui-link" href="admin/orders"><img src="img/icon-back.png" alt="Back"> Обратно към поръчките</a></h1>
    </div>

    <div class="shopDetail padpage padtop">
        <h1 class="ui-link">Детайли за поръчка номер {{ orderDetails.orderId }}</h1>
        <br />

        <h3>Данни за клиента</h3>
        <br />

        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Име</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" ng-model="orderDetails.customer.name" ng-disabled="true">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhone" class="col-sm-2 control-label">Телефон</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="inputPhone" ng-model="orderDetails.customer.phone" ng-disabled="true">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress" class="col-sm-2 control-label">Име</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputAddress" ng-model="orderDetails.customer.address" ng-disabled="true">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Име</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" ng-model="orderDetails.customer.email" ng-disabled="true">
                </div>
            </div>
            <div class="form-group">
                <label for="inputMessage" class="col-sm-2 control-label">Допълнителна информация</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="inputMessage" ng-model="orderDetails.customer.message" ng-disabled="true"></textarea>
                </div>
            </div>

            <h3>Данни за поръчката</h3>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Име</th>
                        <th>Количество</th>
                        <th>Цена при продажба</th>
                        <th>Обявена цена</th>
                        <th>Отстъпка</th>
                        <th>Категория на продукта</th>
                        <th>Общо</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in orderDetails.items">
                        <td><img class="img-responsive" style="max-height:40px" src="{{ imagesFolter + item.imageSrc}}" /></td>
                        <td>{{ item.shoppingItemId }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.quantity }}</td>
                        <td class="text-success"><b>{{ item.itemPrice | currency }}</b></td>
                        <td>{{ item.sellPrice | currency }}</td>
                        <td>{{ item.discount}}%</td>
                        <td>{{ item.categoryName}}</td>
                        <td>{{ item.quantity * item.itemPrice | currency }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="6">Обща цена на поръчката:</td>
                        <td class="text-success"><b>{{ totalPrice | currency }}</b></td>
                    </tr>
                </tfoot>
            </table>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-show="!orderDetails.isCompleted" class="btn btn-success pull-right" ng-click="OrderSubmitted(orderDetails.orderId, true)">Запиши като изпратена</button>
                    <button type="submit" ng-show="orderDetails.isCompleted" class="btn btn-danger pull-right" ng-click="OrderSubmitted(orderDetails.orderId, false)">Запиши като неизпратена</button>
                </div>
            </div>
        </form>
    </div>
    
    <div ng-include="'views/footer.html'"></div>
    <a href="https://icons8.com" style="display:none">Icon pack by Icons8</a>
    <!--end padpage-->
</div>